html {
    border: 1px solid red;
    height: 100%;
}

body {
    border: 1px solid red;
    background-image: url("./assets/20201109_101724.jpg");
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }